.reports-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url('../bg.png') center/contain;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: darkgray;
  }
  .reports-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    background-color: #f8f8f8;
    padding: 20px;
    width: 825px;
    height: 595px;
    margin-right: 475px;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
  }

  .reports-header {
    display: flex;
    width: 90%;
  }

  .trans-id-header {
    width: 250px;
  }

  .trans-card-number-header {
    width: 200px;
  }

  .trans-report-details-header {
    width: 250px;
  }

  .reports {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 90%;
    height: 50%;
  }

  .report {
    display: flex;
    border-bottom: 2px dashed lightgray;
  }

  .trans-id {
    width: 250px;
  }

  .trans-card-number {
    width: 200px;
  }

  .trans-report-details {
    width: 250px;
  }