.insert-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url('../bg.png') center/contain;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: darkgray;
  }



.insert-card-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 950px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    margin-right: 520px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

li {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    background-color: #66b9ed;
    border-radius: 4px;
    cursor: pointer;
    font-size: x-large;
}

li:hover {
    background-color: #e0e0e0;
}

.insert-card-wrapper input {
    text-align: center;
    width: 50%;
    height: 50px;
    font-size: xx-large;
}


.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}

.error-message {
    font-size: x-large;
    color: red;
}

