.no-service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url('../bg.png') center/contain;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: darkgray;
  }
  .no-service-wrapper {
    background-color: #b8feff;    padding: 20px;
    width: 825px;
    height: 595px;
    margin-right: 475px;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }