    .agent-services-container {
        position: relative;
        background: url('../bg.png') center/contain;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .agent-services-wrapper {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        flex-direction: column;
    
        background-color: rgba(255, 255, 255, 0.8);
    
        padding: 20px;
        width: 825px;
        height: 595px;
        margin-right: 475px;
        margin-top: 45px;
    }
    
    h2 {
        margin-bottom: 20px;
    }
    
    .trays-container {
        display: flex;
        flex-direction: column;

    }

    .tray {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#c3e7fe;
        width: 400px;
        margin: 5px;
        border-radius: 5px;
    }

    .tray p {
        margin: 5px;
    }

    .popup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 49.8%;
        height: 65.7%;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);
        margin-top: 179px;
        margin-left: 179px;
    }
    
    .popup-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        font-size: x-large;
    }


    .popup-content button {
        width: 200px;
        height: 40px;
        border: none;
        border-radius: 5px;
        margin: 5px;
    }
    
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .trays-options {
        width: 80%;
    }

    .message {
        font-size: x-large;
    }

    .message-container {
        width: auto;
        height: 50px;
    }