.atm-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url('../bg.png') center/contain;
  height: 100vh;
  background-repeat: no-repeat;
  background-color: darkgray;
}

.atm-menu-wrapper {
  background-color: #e7feff;
  padding: 20px;
  width: 825px;
  height: 595px;
  margin-right: 475px;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
}

.button-group {
  display: flex;
}

.left-buttons {
  margin-right: auto; /* Empuja los botones a la izquierda */
}

.right-buttons {
  margin-left: auto; /* Empuja los botones a la derecha */
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Divide los elementos a cada lado */
}

.opciones {
  background-color:blue;
  color:aliceblue;
  cursor: pointer;
  height: 10%;
  width:  8%;
  font-size:large;
  position: fixed;
  top: 20%;
}


.options-container {
  width: 100%;
}

.vacio {
  background-color: #e7feff;
}

.vacio:hover {
  background-color: #e7feff;
}