  

.atm-menu-container {
  position: relative;
  background: url('../bg.png') center/contain;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.atm-menu-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  width: 800px;
  height: 500px;
  justify-content: space-between; 
  margin-right: 470px;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
}
.button-group {
  display: flex;
}

.left-buttons {
  margin-right: auto; /* Empuja los botones a la izquierda */
}

.right-buttons {
  margin-left: auto; /* Empuja los botones a la derecha */
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Divide los elementos a cada lado */
}

li {
  background-color: #66b9ed;
  padding: 10px;
  flex-grow: 1; /* Hace que los elementos ocupen el espacio disponible */
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
}

li:last-child {
  margin-right: 0; /* Elimina el margen derecho para el último elemento */
}

li:hover {
  background-color: #e0e0e0;
}
