  
  h2 {
    margin-bottom: 20px;
  }
  .button-group {
    display: flex;
  }
  
  .left-buttons {
    margin-right: auto; /* Empuja los botones a la izquierda */
  }
  
  .right-buttons {
    margin-left: auto; /* Empuja los botones a la derecha */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Divide los elementos a cada lado */
  }
  
  li {
    background-color: #66b9ed;
    padding: 10px;
    flex-grow: 1; /* Hace que los elementos ocupen el espacio disponible */
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  li:last-child {
    margin-right: 0; /* Elimina el margen derecho para el último elemento */
  }
  
  li:hover {
    background-color: #e0e0e0;
  }

  .homescreen-container {
    width: 100%;
    height: 100%;
    background: url('home-screen.jpeg') center/contain;
    background-color: #66b9ed;
  }
  
  .atm-home-container {
    position: relative;
    background: url('../bg.png') center/contain;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  